/* Reset default margin and padding for the body */
body {
background-color: rgb(39, 38, 45);
}

h1{
    display: flex;
    justify-content: center;
    color: #b51818;
    font-family: 'Segoe UI';
    font-size: 3em;
    margin-top: 1em;
    -webkit-text-stroke: 1px rgb(193, 129, 252); /* Violet-colored text stroke */
    color: transparent; /* Make the text transparent so that only the stroke is visible */
}

.buttons{
 color: #b80324;
 background-color: rgba(0, 0, 0, 0.411);
 font-family: monospace;
 font-size: 2em;
 height: 4.5rem;
 width: 4.5rem;
 border-radius: 50%;
 border-color: rgb(193, 129, 252);
 border-width: 2px;
 box-shadow: rgba(77, 17, 155, 0.4) 0px 0px 15px 0px;
 margin: 5px;
}

.buttons:hover{
    background-color: #2b0404;
}

.inputs{
    background-color: rgba(0, 0, 0, 0.411);
    height: 62px;
    width: 330px;
    display: flex;
    justify-content: center;
    color: rgb(35, 24, 192);
    font-family: 'Segoe UI';
    font-size: 2.3em;
    margin-bottom: 0.9em;
    border-color: rgb(193, 129, 252);
    border-radius: 12px;
    box-shadow: rgba(77, 17, 155, 0.4) 0px 0px 25px 0px;
}

.stat,.align{
    display: flex;
    justify-content: center;
}